
<head>
 
  <%- include('./partials/header.ejs') %>
  </head>

  
<%- include('./partials/nav.ejs') %>


<body>
  <h1  style="font-size: 30px; margin: 100px;"> What you Ordered So Far </h1>
  <section >
    



<ul class="check-list cartSelectionView" style="margin: 100px;">
  <% test.forEach(item=>{ %>
    <li>
     
     
   <h3 style="display: block; color: orange;"> <%= item.name %></h3> 
   
   <img src="<%=item.picture %>" width="<%-item.width%>" height="<%-item.height%>" >
   <div>
   <strong style="color:grey;font-size: 30px; text-align: center;"><%= item.price %> $</strong> 
  </div>
 
  
  
  </li>
  <% }); %>
</ul>




</section>
<h1 > <strong> Balance now  : <%= balance %> $ </strong> </h1>

<form action="/cart" method="POST">
<button type="submit" class="custom-btn btn-2">
  
 <h1> Buy  the  <%=test.length%> items</h1> 

</button>

</form>
  <!-- retrieve the data from the dataBase Cart object  -->

</body>
<%- include('./partials/footer.ejs') %>

