
<head>
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  </head>

  <%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>


<body>

  <section >
    <div>


<h1> What you Ordered So Far </h1>

<ul class="check-list">
  <% test.forEach(item=>{ %>
    <li>
   <h3 style="display: block;"> <%= item.name %></h3> 
 
   <strong style="color:grey"><%= item.price %> $</strong> 
  </li>
  <% }); %>
</ul>
 </div>
</section>
<h1 > <strong> Balance now  : <%= balance %> $ </strong> </h1>

<form action="/cart" method="POST">
<button type="submit" class="custom-btn btn-2">
  
 <h1> Buy  the  <%=test.length%> items</h1> 

</button>

</form>
  <!-- retrieve the data from the dataBase Cart object  -->

</body>
<%- include('./partials/footer.ejs') %>

