<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>
  
  

<body >

    <%- include('./partials/nav.ejs') %>


   <form action="/menu" method="POST">
<div style="display: grid; grid-template-columns: auto auto  auto ; " >
    
<% items.forEach (item=> { %>
    <div class="menu-cards " style="margin: 20px;"  >
    <h2 style="display: inline;">
<%= item.name %>
</h2 >
<img src="<%=item.picture %>" height="200px"  width="250px">
<h2>
<%=item.price %> $
</h2>

<input type="checkbox" name="req<%=item.number%>"  > 


    </div>
    

<% }) %> 




</div>
<!-- <script>
    for(var i=0; i<items.length; i++){
items[i].setAttribute(name,`req${i}`);
    }
</script> -->


<h1> End of the menu </h1>

<button style="height:300px; width: 300px; font-size: 50px; font-weight: bold;transform: translateX(500px);">Go to cart
</button>
</form>





</body>




<%- include('./partials/footer.ejs') %>

</html>