<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/header.ejs') %>
  
  

<body >

    <%- include('./partials/nav.ejs') %>


   <form action="/menu" method="POST">
<div style="display: grid; grid-template-columns: auto auto  auto ; " >
    
<% items.forEach (item=> { %>
    <div class="menu-cards " style="margin: 20px;"  >
    <h2 style="display: inline;">
<%= item.name %>
</h2 >
<img src="<%=item.picture %>" height="200px"  width="250px">
<h2>
<%=item.price %> $
</h2>
<!-- naming the inputs related to the dataset number (req+number)-->
<!-- <input type="checkbox" name="req<%=item.number%>" height="100px" >  -->


    
<label class="container">
    <input type="checkbox" name="req<%=item.number%>" >
    <span class="checkmark"></span>
  </label>

    </div>
<% }) %> 




</div>



<h1> End of the menu </h1>
<button class="mb-10 custom-btn btn-2 " style="margin-bottom: 20px;" type="submit"><h1>Go to Cart</h1></button>
   
  </div>

<!-- <button style="height:300px; width: 300px; font-size: 50px; font-weight: bold;transform: translateX(500px);">Go to cart
</button> -->
</form>





</body>




<%- include('./partials/footer.ejs') %>

</html>